@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body {

    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppind', sans-serif;  
    margin: 0;
    background-color: #74887e;
    outline: none;
    


}


.note {
    height: 250px;
    width: 300px;
    background-color: white;
    margin: 1.5rem 1rem;

}

.note .tools {
    background-color:  rgb(175, 54, 100);
    width: 100%;
    height: 25px; 
    display: flex;
    justify-content: flex-end;
    
}


.note .tools button {
    font-size: 1rem;
    border: none;
    outline: inherit;
    cursor: pointer;
    background-color: transparent;
    color: #fff;   
    padding-right: 10px;
    padding-bottom: 7px;
}


.note .main-note {
    
    height: 100%;
    width: 100%;
    background-color: rgb(243, 229, 229);
    font: 12px;
    overflow: hidden;
    display: inline-block;

    

}

.note .hidden{
    display: none;
}

.note textarea {
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 15px;
  
}

.todos-container {  
    width: 300px;
    margin: auto;
    
    
}

h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    opacity: 0.4;
    font-family: inherit;
    text-align: center;
}

button {
    background-color: rgb(175, 54, 100);
    color: #fff;
    border-radius: 10px;
    font: inherit;
    border: none;
    font-size: 1.2em;
    justify-content: center;
    justify-self: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    outline: inherit;
}



form {
    margin: auto;
    max-width: 100%;
    width: 250px;
    box-shadow: 0 4px 10px(0, 0, 0, 0.1);
}


.input {
    display: block;
    border-radius: 5px 5px 0 0;
    border: none;
    width: 100%;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
}
.input::placeholder{
    color: #b5b5b5;
}

.todos {
    margin: 0;
    background-color: white;
    padding: 0;
    
    border-top: 1.3px solid #779fc9;
    list-style-type: none;
}

.todos li{
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #f5f3f3;
    font-size: 1.2rem;
    color: #312f2f;
    cursor: pointer;
   background-color: rgb(243, 229, 229);;
}

.todos li.completed {
    text-decoration: line-through;
    color: #b5b5b5;
    cursor: pointer;
}
small {
    color: white;
    opacity: 0.7;  
}

center {
    margin-top: 2rem;
}

